<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="B2CMemberWebServiceHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.19:8150/service/B2CMemberWebService"
                binding="basicHttpBinding" bindingConfiguration="B2CMemberWebServiceHttpBinding"
                contract="B2CTicketWebServices.B2CMemberWebServicePortType"
                name="B2CMemberWebServiceHttpPort" />
        </client>
    </system.serviceModel>
</configuration>